.gallery-container {
	display: flex;
	flex-wrap: wrap;
}


.vignette {
	border: black solid 1px;
	padding: 20px;
	width: 20%;
	margin-left: 5%;
	text-align: center;
	font-weight: bold;

}

.vignette img {
	box-sizing: border-box;
	width: 60%;
}

.modal {
    width:100%;
    height: 100%;
    position: absolute;
    top:0; left:0;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
    position: center;
}

.button {
    background-color: black;
    opacity: 1;
    color: white;
    border: none;
    position:absolute; top:0; left:0;
    padding : 0.5em;
    font-size: 1.5em;
    z-index: 1000;
    border-radius: 20px;
    padding: 20px;
    width: 60px;
    height: 60px;
}

.button:hover {
	background-color: gray;
}

h1 {
	position:absolute; top:0; left:0;
	z-index: 1000;
	text-align: center;
	opacity: 0;
	background:rgba(0,0,0,0.8);
	width: 100%;
	color: white;
	vertical-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin:0;
}

h1:hover {
	opacity: 1;
}

.commentaires {
	z-index: 1000;
	position:absolute; bottom:0; left:0;
	bottom: 0;
	margin-bottom: -20px;
	background-color: black;
	width: 100%;
	margin: 0;
	color:white;
	min-height: 50px;
}

.prec {
	opacity: 1;
	height: 80%;
	vertical-align: center;
	width: 10%;
	background:rgba(0,0,0,0.7);
	z-index: 1000;
	position:absolute;
	left:0;
	top:10%;
	opacity:0;
	font-size: 40px;
	border: none;
}

.prec:hover {
	opacity:1;
}

.suiv {
	opacity: 1;
	height: 80%;
	vertical-align: center;
	width: 10%;
	background:rgba(0,0,0,0.7);
	z-index: 1000;
	position: absolute;
	right: 0;
	top: 10%;
	opacity:0;
	font-size: 40px;
	border: none;
}

.suiv:hover {
	opacity:1;
}

.liste-com {
	text-align: center;
	width: 50%;
	margin: auto;
}

.liste-com span {
	margin-left: 2%;
}